repositories {
    unstable {
        description ...
        uri "https://cdn.aerynos.dev/unstable/x86_64/stone.index"
        priority 0
    }
}
packages {
    pkgset-aeryn-base-desktop
    pkgset-aeryn-utilities
    linux-desktop
    linux-firmware
    linux-firmware-amd-graphics
    linux-firmware-amd64-microcode
    linux-firmware-atheros
    linux-firmware-brcm80211
    linux-firmware-cirrus
    linux-firmware-intel-graphics
    linux-firmware-intel-misc
    linux-firmware-intel-sound
    linux-firmware-iwlwifi
    linux-firmware-libertas
    linux-firmware-mediatek
    linux-firmware-misc
    linux-firmware-nvidia-graphics
    linux-firmware-realtek
    linux-firmware-ti-connectivity
    sof-firmware
    brightnessctl
    cava
    firefox
    git
    gpu-screen-recorder
    helix
    kitty
    mangowc
    matugen
    power-profiles-daemon
    quickshell
    upower
    wlsunset
    yazi
    xdg-desktop-portal-wlr
}
