repositories {
    unstable {
        description ...
        uri "https://cdn.aerynos.dev/unstable/x86_64/stone.index"
        priority 0
    }
}
packages {
    bash
    bash-completion
    boulder
    brightnessctl
    ca-certificates
    cava
    dash
    dbus
    dbus-broker
    dmidecode
    e2fsprogs
    f2fs-tools
    file
    findutils
    firefox
    gawk
    git
    gpu-screen-recorder
    grep
    gzip
    helix
    hyperv-daemons
    imagemagick
    intel-microcode
    iproute2
    iputils
    iw
    iwd
    kbd
    kitty
    kmod
    less
    libva-intel-media-driver
    linux-desktop
    linux-firmware
    linux-firmware-amd-graphics
    linux-firmware-amd64-microcode
    linux-firmware-atheros
    linux-firmware-brcm80211
    linux-firmware-cirrus
    linux-firmware-intel-graphics
    linux-firmware-intel-misc
    linux-firmware-intel-sound
    linux-firmware-iwlwifi
    linux-firmware-libertas
    linux-firmware-mediatek
    linux-firmware-misc
    linux-firmware-nvidia-graphics
    linux-firmware-realtek
    linux-firmware-ti-connectivity
    lvm2
    mangowc
    matugen
    mesa
    mesa-vulkan-drivers
    moss
    nano
    networkmanager
    networkmanager-tui
    networkmanager-wifi
    openssh
    openssh-server
    pciutils
    pkgset-aeryn-base
    pkgset-aeryn-utilities
    pkgset-aeryn-virtual
    polkit
    power-profiles-daemon
    procps
    psmisc
    python
    qemu-guest-agent
    quickshell
    screen
    sed
    shadow
    sof-firmware
    spice-vdagent
    sudo-rs
    systemd
    tar
    tzdata
    unzip
    upower
    usbutils
    util-linux
    uutils-coreutils
    wget
    which
    wireplumber
    wlsunset
    xfsprogs
    yazi
    yq
    zed
}
